

<div class="container col-md-6 mt-5 mx-auto">
  <div class="row">
      <div class="col-md-6 mt-5 mx-auto">
          <form (submit)="login()">

              <h1 class="h3 mb-3 font-weight-normal">Please Sign in</h1>

              <div class="form-group">
                   <p><label for="email">Email Address</label></p>
                  <input type="email" class="form-control" name="email" placeholder="Enter email">
              </div>

              <div class="form-group">
                  <p><label for="password">Pass word</label></p>
                  <input type="password" class="form-control" name="password" placeholder="Enter password" >
              </div>
              <button type="submit" class="btn btn-lg btn-primary btn-block">Sign in</button>

          </form>
          <p><a href="#">You lost you password?</a> <a href="#">Register here!...</a></p>
      </div>
  </div>
</div>
