*{
    padding: 0%;
    margin: 0%;
    font-size: 1.5rem;
}
.login{
    margin: 150px auto ;
    width: 500px;
}

p{
    margin: 10px;
}

input{
    padding: 15px;
    margin-top: 10px;
    width: 500px;
    background-color: #9d9da828;
    border-radius: 10px;
}


button{
    padding: 15px;
    margin-top: 15px;
    width: 535px;
}
h1{
    text-align: center;
}