<mat-toolbar >
   
    <mat-toolbar-row style="font-size: 1.5rem; height: 80px;">
        <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
            <mat-icon>home</mat-icon>
        </button>

      <span class="example-spacer"></span> <!--Epassamento mano-->

      <div class="example-button-container">
        <button mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon">
          <mat-icon>plus_one</mat-icon>
        </button>
      </div>

    </mat-toolbar-row>
  

  </mat-toolbar>
  

